* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: #fff;
    font-family: Maison Neue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.clearfix::after {
    content: '. ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
     
}

/* ------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------ */
.row{
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
    display: block;
}

.item-box{
 margin-right: 28px;
 align-self: flex-end;
 margin-bottom: 34px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-top: 20px;
}



/* --------------------------- */
/* NAVIGATOR BAR */
/* --------------------------- */
ul{
 margin: 0px;
 padding: 0px;
 list-style: none;
}

ul li{
 float: left;
 width: 200px;
 height: 40px;
 background-color: #fff;
 opacity: .8;
 line-height: 40px;
 text-align: center;
 font-size: 15px;
 margin-left: 20px;
}

ul li a {
 text-decoration: none;
 color: #000;
 display: block;
}

ul li a:hover{
 background-color: #313444;
 color: #ffffff;
}

ul li ul li{
 display: none;
 background-color: #212432;
}

ul li:hover ul li{
  display: block;
}

/* -------------------------------------- */
/* HEADER */
/* ------------------------------------- */
header{
 background-image: url(img/about8.jpg);
 height: 60vh;
 background-attachment: fixed;
 margin-top: 60px;
}

h1,
h2,
h3,
h4,
h5{
 margin-left: 20px;
 word-spacing: 2px;
 letter-spacing: 1px;
 font-weight: 600;
 text-rendering: optimizeLegibility;
}

h1,
h4,
h5{
  font-size: 15px;
  text-align: left;
  color: #57f4d2;
}

h2,
h3{
 color: #262323;
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
}

h3,
h4{
  color: #ffffff;
  margin-top: 200px;
}

h4,
h5{
 margin-top: 40px;
 margin-left: 40px;
}

h5{
 color: #262323;
  
}


/* ------------------------------------ */
/* PARAGRAPH */
/* ------------------------------------ */
.long-copy,
.long-load,
.long-life,
.long-span,
.long-segars{
  margin-left: 20px;
  letter-spacing: 1px;
  word-spacing: 2px;
 font-weight: 400;
}

.long-copy,
.long-span,
.long-segars,
.long-end{
  text-align: left;
  font-size: 40px;
  margin-top: 40px;
  color: #ffffff;
}

.long-load,
.long-life{
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  color: #4e5262;
}

.long-load{
  margin-bottom: 10px;
}

.long-life{
  color: #ffffff;
  margin-top: 40px;
}

.long-span,
.long-segars{
  margin-top: 20px;
  font-size: 15px;
 margin-left: 40px;
}

.long-segars{
  color: #4e5262;
   margin-top: 20px;
}

.long-form{
 color: #acc0c8;
 font-weight: 500;
 font-size: 15px;
 text-align: left;
  margin-left: 25px;
  margin-top: 20px;
}

.long-footer{
    font-size: 25px;
    letter-spacing: -.5px;
    color: #fff;
    margin-left: 130px;
}

.long-end{
 color: #7b7f92;
 font-size: 13px;
 font-weight: 600;
  margin-top: 20px;
}


/* ------------------------------- */
/* SECTION-CONTAINER */
/* ------------------------------- */
.section-container{
 padding: 90px 0 70px;
}

.heading-flush{
  font-weight: 200;
   margin-bottom: 30px;
   line-height: 1.2083m;
   letter-spacing: -.02em;
   font-size: 40px;
   text-align: center;
}

/* ------------------------------ */
/* SECTION-IMAGE */
/* ------------------------------ */
.section-image{
 width: 100%;
 background-attachment: fixed;
 height: 100vh;
}

/* -------------------------------- */
/* SECTION-QUALITY */
/* -------------------------------- */
.section-quality{
  background: #222533;
  height: 100vh;
  background-attachment: fixed;
}


/* ----------------------------------- */
/* SECTION-PAGE */
/* ----------------------------------- */
.section-page{
  display: flex;
  flex-wrap: wrap;
}

.section-page .page-image{
    display: block;
     width: 100%;
    height: auto;
}

.page-image{
  max-width: 100%;
  height: auto;
  border: 0;
}


.segars-image{
  width: 80%;
   height: 30%;
   margin-top: 20px;
   overflow: hidden;
    margin-left: 20px;
}

.no-pad{
  padding-bottom: 0;
    font-size: 17px;
}

.demi{
   font-weight: 600;
 margin-top: 20px;
  color: #4296cb;
 text-align: left;
 margin-left: 20px;
}

/* ------------------------------------ */
/* SECTION-FORM */
/* ----------------------------------- */
.section-form{
  background: #fff;
   padding: 60px 0 75px;
}

.caps{
  color: #acc0c8;
 font-weight: 500;
  font-size: 15px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ---------------------------------- */
/* FOOTER */
/* ---------------------------------- */
.footer-page{
  background-image: linear-gradient(-225deg, #2eb7ce, #4296cb);
    height: 200px;
    display: flex;
    align-items: center;
}

.footer-page .container-footer{
    display: block;
    text-align: center;
}

.footer-page .container-footer{
    flex: 1 100%;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
}

.footer-page .container-footer .long-footer{
   padding-bottom: 30px;
 text-align: center;
 
}

.footer-page .container-footetr .btn btn-full{
    margin-bottom: 0;
    width: 300px;
}


.btn:link, 
.btn:visited, 
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
}

.btn-full:link,
.btn-full:visited, 
input[type=submit]{
  background-color: #212432;
  border: 1px solid #212432;
  color: #fff;
  margin-right: 15px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover
input[type=submit]:active{
  background-color: #1f212e;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #212432;
}

/* --------------------------------------- */
/* FOOTER */
/* --------------------------------------- */
.footer-main-div{
  width: 100%;
  height: auto;
  margin: auto;
  background: #222533;
  padding: 20px 0px;
}

.nodes{
 font-size: 13px;
 font-weight: 600;
 margin-top: 10px;
 color: #f0efef;
 text-align: left;
 margin-left: 20px;
 transition: background-color 0.2s, border 0.2s, color 0.2s;
 transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.nodes:hover,
.nodes:active{
    background-color: #6cabd3;
}

.footer-main-div .end{
    flex-direction: column;
    padding-top: 32px;
    border-top: 1px solid #3a3d4d;
    width: 100%;
    display: flex;
    margin-top: 70px;
}







