* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: #fff;
    font-family: Maison Neue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.clearfix::after {
    content: '. ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
     
}

/* ------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------ */
.row{
    max-width: 1140px;
    margin: 0 auto;
}

.section {
    padding: 80px 0;
    display: block;
}

.item-box{
 margin-right: 28px;
 align-self: flex-end;
 margin-bottom: 34px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-top: 20px;
}

/* --------------------------- */
/* NAVIGATOR BAR */
/* --------------------------- */
ul{
 margin: 0px;
 padding: 0px;
 list-style: none;
}

ul li{
 float: left;
 width: 200px;
 height: 40px;
 background-color: #fff;
 opacity: .8;
 line-height: 40px;
 text-align: center;
 font-size: 15px;
 margin-left: 20px;
}

ul li a {
 text-decoration: none;
 color: #000;
 display: block;
}

ul li a:hover{
 background-color: #313444;
 color: #ffffff;
}

ul li ul li{
 display: none;
 background-color: #212432;
}

ul li:hover ul li{
  display: block;
}

/* -------------------------------------- */
/* HEADER */
/* -------------------------------------- */
h1,
h2{
 text-align: left;
 letter-spacing: 1px;
 word-spacing: 1px;
 font-weight: 600;
}

h1{
 color: #000000;
 font-size: 40px;
 margin-top: 100px;
}

h2{
 font-size: 10px;
 color:  #57f4d2;
 margin-top: 20px;
}

/* ------------------------------------------ */
/* PARAGRAPH */
/* ------------------------------------------ */
.long-plan,
.long-end{
 margin-top: 20px;
 text-align: left;
 letter-spacing: 1px;
 word-spacing: 1px;
 font-weight: 400;
 color: #4e5262;
 font-size: 20px;
}

.long-end{
 color: #7b7f92;
 font-size: 13px;
}

/* --------------------------------------- */
/* SECTION-PLAN */
/* --------------------------------------- */
.section-plans{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.paln-box div:first-child{
    background-color: #fcfcfc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.plan-box div:last-child{
    text-align: center;
    border: 0;
}

.plan-box div .program-image{
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}


.btn:link, 
.btn:visited, 
input[type=submit]{
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
}

.btn-full:link,
.btn-full:visited, 
input[type=submit]{
  background-color: #fff;
  border: 5px solid #fff;
  color: #fff;
  margin-right: 15px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover
input[type=submit]:active{
  background-color: #ffffff;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #ffffff;
}

.program-image{
  display: block;
  width: 120%;
  transition: margin .25s ease-out;
  border-bottom: 2px solid #f0f4f6;
}

/* --------------------------------------- */
/* FOOTER */
/* --------------------------------------- */
.footer-main-div{
  width: 100%;
  height: auto;
  margin: auto;
  background: #222533;
  padding: 20px 0px;
}

.nodes{
 font-size: 13px;
 font-weight: 600;
 margin-top: 10px;
 color: #f0efef;
 text-align: left;
 margin-left: 20px;
 transition: background-color 0.2s, border 0.2s, color 0.2s;
 transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.nodes:hover,
.nodes:active{
    background-color: #6cabd3;
}

.footer-main-div .end{
    flex-direction: column;
    padding-top: 32px;
    border-top: 1px solid #3a3d4d;
    width: 100%;
    display: flex;
    margin-top: 70px;
}

